{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
    <h2>Give your feedback!</h2>

    {% for conference in conferences %}
        <h4>{{ conference }}</h4>
        <p>
{#            <a href="/conference/{{ conference.id }}">View</a>#}
            <a href="{{ path('conference', { id: conference.id }) }}">View</a>
{#            Функция path()перехода к пути, ссылаясь на название переданного маршрута. Значения параметров маршрута передаются в виде массива.#}
        </p>
    {% endfor %}
{% endblock %}
